In [1]:
# Dependencies
import requests
import json
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#https://crime-data-explorer.fr.cloud.gov/api

### AL

In [3]:
#AL

AL_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/AL/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [4]:
AL = requests.get(AL_url).json()
print(AL)

{'results': [{'state_id': 2, 'state_abbr': 'AL', 'year': 2017, 'population': 4875120, 'violent_crime': 25469, 'homicide': 419, 'rape_legacy': None, 'rape_revised': 2001, 'robbery': 4233, 'aggravated_assault': 18816, 'property_crime': 143774, 'burglary': 31270, 'larceny': 99707, 'motor_vehicle_theft': 12797, 'arson': 703}, {'state_id': 2, 'state_abbr': 'AL', 'year': 2018, 'population': 4887681, 'violent_crime': 25567, 'homicide': 383, 'rape_legacy': None, 'rape_revised': 2032, 'robbery': 4047, 'aggravated_assault': 19105, 'property_crime': 138702, 'burglary': 29101, 'larceny': 96328, 'motor_vehicle_theft': 13273, 'arson': 782}, {'state_id': 2, 'state_abbr': 'AL', 'year': 2019, 'population': 4903185, 'violent_crime': 25046, 'homicide': 358, 'rape_legacy': None, 'rape_revised': 2068, 'robbery': 3941, 'aggravated_assault': 18679, 'property_crime': 131133, 'burglary': 26079, 'larceny': 92477, 'motor_vehicle_theft': 12577, 'arson': 2}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [5]:
AL_df = pd.DataFrame(AL['results'])
AL_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,2,AL,2017,4875120,25469,419,None,2001,4233,18816,143774,31270,99707,12797,703
1,2,AL,2018,4887681,25567,383,None,2032,4047,19105,138702,29101,96328,13273,782
2,2,AL,2019,4903185,25046,358,None,2068,3941,18679,131133,26079,92477,12577,2

### AK

In [6]:
#AK

AK_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/AK/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [7]:
AK = requests.get(AK_url).json()
print(AK)

{'results': [{'state_id': 1, 'state_abbr': 'AK', 'year': 2017, 'population': 739786, 'violent_crime': 6338, 'homicide': 62, 'rape_legacy': None, 'rape_revised': 1074, 'robbery': 952, 'aggravated_assault': 4250, 'property_crime': 26203, 'burglary': 4167, 'larceny': 17782, 'motor_vehicle_theft': 4254, 'arson': 139}, {'state_id': 1, 'state_abbr': 'AK', 'year': 2018, 'population': 735139, 'violent_crime': 6555, 'homicide': 47, 'rape_legacy': None, 'rape_revised': 1212, 'robbery': 896, 'aggravated_assault': 4400, 'property_crime': 24345, 'burglary': 3985, 'larceny': 16364, 'motor_vehicle_theft': 3996, 'arson': 127}, {'state_id': 1, 'state_abbr': 'AK', 'year': 2019, 'population': 731545, 'violent_crime': 6343, 'homicide': 69, 'rape_legacy': None, 'rape_revised': 1088, 'robbery': 826, 'aggravated_assault': 4360, 'property_crime': 21294, 'burglary': 3563, 'larceny': 15114, 'motor_vehicle_theft': 2617, 'arson': 208}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [8]:
AK_df = pd.DataFrame(AK['results'])
AK_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,1,AK,2017,739786,6338,62,None,1074,952,4250,26203,4167,17782,4254,139
1,1,AK,2018,735139,6555,47,None,1212,896,4400,24345,3985,16364,3996,127
2,1,AK,2019,731545,6343,69,None,1088,826,4360,21294,3563,15114,2617,208

### AZ

In [9]:
#AZ

AZ_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/AZ/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [10]:
AZ = requests.get(AZ_url).json()
print(AZ)

{'results': [{'state_id': 5, 'state_abbr': 'AZ', 'year': 2017, 'population': 7048876, 'violent_crime': 35647, 'homicide': 422, 'rape_legacy': None, 'rape_revised': 3622, 'robbery': 7440, 'aggravated_assault': 24163, 'property_crime': 204999, 'burglary': 37722, 'larceny': 148251, 'motor_vehicle_theft': 19026, 'arson': 1190}, {'state_id': 5, 'state_abbr': 'AZ', 'year': 2018, 'population': 7158024, 'violent_crime': 34053, 'homicide': 383, 'rape_legacy': None, 'rape_revised': 3605, 'robbery': 6509, 'aggravated_assault': 23556, 'property_crime': 192730, 'burglary': 31787, 'larceny': 141789, 'motor_vehicle_theft': 19154, 'arson': 1709}, {'state_id': 5, 'state_abbr': 'AZ', 'year': 2019, 'population': 7278717, 'violent_crime': 33141, 'homicide': 365, 'rape_legacy': None, 'rape_revised': 3662, 'robbery': 6410, 'aggravated_assault': 22704, 'property_crime': 177638, 'burglary': 28699, 'larceny': 130788, 'motor_vehicle_theft': 18151, 'arson': 938}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [11]:
AZ_df = pd.DataFrame(AZ['results'])
AZ_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,5,AZ,2017,7048876,35647,422,None,3622,7440,24163,204999,37722,148251,19026,1190
1,5,AZ,2018,7158024,34053,383,None,3605,6509,23556,192730,31787,141789,19154,1709
2,5,AZ,2019,7278717,33141,365,None,3662,6410,22704,177638,28699,130788,18151,938

### AR

In [12]:
#AR

AR_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/AR/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [13]:
AR = requests.get(AR_url).json()
print(AR)

{'results': [{'state_id': 3, 'state_abbr': 'AR', 'year': 2017, 'population': 3002997, 'violent_crime': 16996, 'homicide': 249, 'rape_legacy': None, 'rape_revised': 2140, 'robbery': 1998, 'aggravated_assault': 12609, 'property_crime': 94419, 'burglary': 22369, 'larceny': 64795, 'motor_vehicle_theft': 7255, 'arson': 540}, {'state_id': 3, 'state_abbr': 'AR', 'year': 2018, 'population': 3009733, 'violent_crime': 16904, 'homicide': 222, 'rape_legacy': None, 'rape_revised': 2341, 'robbery': 1593, 'aggravated_assault': 12748, 'property_crime': 89177, 'burglary': 19520, 'larceny': 62350, 'motor_vehicle_theft': 7307, 'arson': 529}, {'state_id': 3, 'state_abbr': 'AR', 'year': 2019, 'population': 3017804, 'violent_crime': 17643, 'homicide': 242, 'rape_legacy': None, 'rape_revised': 2331, 'robbery': 1557, 'aggravated_assault': 13513, 'property_crime': 86250, 'burglary': 18095, 'larceny': 60735, 'motor_vehicle_theft': 7420, 'arson': 426}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [14]:
AR_df = pd.DataFrame(AR['results'])
AR_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,3,AR,2017,3002997,16996,249,None,2140,1998,12609,94419,22369,64795,7255,540
1,3,AR,2018,3009733,16904,222,None,2341,1593,12748,89177,19520,62350,7307,529
2,3,AR,2019,3017804,17643,242,None,2331,1557,13513,86250,18095,60735,7420,426

### CA

In [15]:
#CA

CA_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/CA/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [16]:
CA = requests.get(CA_url).json()
print(CA)

{'results': [{'state_id': 6, 'state_abbr': 'CA', 'year': 2017, 'population': 39399349, 'violent_crime': 178597, 'homicide': 1830, 'rape_legacy': None, 'rape_revised': 14724, 'robbery': 56625, 'aggravated_assault': 105418, 'property_crime': 987063, 'burglary': 176679, 'larceny': 642019, 'motor_vehicle_theft': 168365, 'arson': 8648}, {'state_id': 6, 'state_abbr': 'CA', 'year': 2018, 'population': 39461588, 'violent_crime': 176604, 'homicide': 1739, 'rape_legacy': None, 'rape_revised': 15506, 'robbery': 54328, 'aggravated_assault': 105031, 'property_crime': 941644, 'burglary': 164645, 'larceny': 621779, 'motor_vehicle_theft': 155220, 'arson': 8524}, {'state_id': 6, 'state_abbr': 'CA', 'year': 2019, 'population': 39512223, 'violent_crime': 174331, 'homicide': 1690, 'rape_legacy': None, 'rape_revised': 14799, 'robbery': 52301, 'aggravated_assault': 105541, 'property_crime': 921114, 'burglary': 152555, 'larceny': 626802, 'motor_vehicle_theft': 141757, 'arson': 8267}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [17]:
CA_df = pd.DataFrame(CA['results'])
CA_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,6,CA,2017,39399349,178597,1830,None,14724,56625,105418,987063,176679,642019,168365,8648
1,6,CA,2018,39461588,176604,1739,None,15506,54328,105031,941644,164645,621779,155220,8524
2,6,CA,2019,39512223,174331,1690,None,14799,52301,105541,921114,152555,626802,141757,8267

### CO

In [18]:
#CO

CO_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/CO/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [19]:
CO = requests.get(CO_url).json()
print(CO)

{'results': [{'state_id': 7, 'state_abbr': 'CO', 'year': 2017, 'population': 5615902, 'violent_crime': 20901, 'homicide': 222, 'rape_legacy': None, 'rape_revised': 4021, 'robbery': 3868, 'aggravated_assault': 12790, 'property_crime': 152032, 'burglary': 22618, 'larceny': 107470, 'motor_vehicle_theft': 21944, 'arson': 1054}, {'state_id': 7, 'state_abbr': 'CO', 'year': 2018, 'population': 5691287, 'violent_crime': 22851, 'homicide': 215, 'rape_legacy': None, 'rape_revised': 4328, 'robbery': 3781, 'aggravated_assault': 14527, 'property_crime': 154292, 'burglary': 21757, 'larceny': 110518, 'motor_vehicle_theft': 22017, 'arson': 990}, {'state_id': 7, 'state_abbr': 'CO', 'year': 2019, 'population': 5758736, 'violent_crime': 21938, 'homicide': 218, 'rape_legacy': None, 'rape_revised': 3872, 'robbery': 3663, 'aggravated_assault': 14185, 'property_crime': 149189, 'burglary': 20064, 'larceny': 107012, 'motor_vehicle_theft': 22113, 'arson': 849}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [20]:
CO_df = pd.DataFrame(CO['results'])
CO_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,7,CO,2017,5615902,20901,222,None,4021,3868,12790,152032,22618,107470,21944,1054
1,7,CO,2018,5691287,22851,215,None,4328,3781,14527,154292,21757,110518,22017,990
2,7,CO,2019,5758736,21938,218,None,3872,3663,14185,149189,20064,107012,22113,849

### CT

In [21]:
#CT

CT_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/CT/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [22]:
CT = requests.get(CT_url).json()
print(CT)

{'results': [{'state_id': 8, 'state_abbr': 'CT', 'year': 2017, 'population': 3573880, 'violent_crime': 8190, 'homicide': 105, 'rape_legacy': None, 'rape_revised': 850, 'robbery': 2813, 'aggravated_assault': 4422, 'property_crime': 63646, 'burglary': 8906, 'larceny': 47418, 'motor_vehicle_theft': 7322, 'arson': 341}, {'state_id': 8, 'state_abbr': 'CT', 'year': 2018, 'population': 3571520, 'violent_crime': 7485, 'homicide': 86, 'rape_legacy': None, 'rape_revised': 873, 'robbery': 2205, 'aggravated_assault': 4321, 'property_crime': 59356, 'burglary': 7983, 'larceny': 44181, 'motor_vehicle_theft': 7192, 'arson': 235}, {'state_id': 8, 'state_abbr': 'CT', 'year': 2019, 'population': 3565287, 'violent_crime': 6546, 'homicide': 104, 'rape_legacy': None, 'rape_revised': 771, 'robbery': 1929, 'aggravated_assault': 3742, 'property_crime': 50862, 'burglary': 6441, 'larceny': 38457, 'motor_vehicle_theft': 5964, 'arson': 215}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [23]:
CT_df = pd.DataFrame(CT['results'])
CT_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,8,CT,2017,3573880,8190,105,None,850,2813,4422,63646,8906,47418,7322,341
1,8,CT,2018,3571520,7485,86,None,873,2205,4321,59356,7983,44181,7192,235
2,8,CT,2019,3565287,6546,104,None,771,1929,3742,50862,6441,38457,5964,215

### DE

In [24]:
#DE

DE_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/DE/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [25]:
DE = requests.get(DE_url).json()
print(DE)

{'results': [{'state_id': 11, 'state_abbr': 'DE', 'year': 2017, 'population': 957078, 'violent_crime': 4377, 'homicide': 51, 'rape_legacy': None, 'rape_revised': 351, 'robbery': 1082, 'aggravated_assault': 2893, 'property_crime': 23430, 'burglary': 3960, 'larceny': 18108, 'motor_vehicle_theft': 1362, 'arson': 138}, {'state_id': 11, 'state_abbr': 'DE', 'year': 2018, 'population': 965479, 'violent_crime': 4079, 'homicide': 46, 'rape_legacy': None, 'rape_revised': 334, 'robbery': 861, 'aggravated_assault': 2838, 'property_crime': 22405, 'burglary': 3154, 'larceny': 17780, 'motor_vehicle_theft': 1471, 'arson': 137}, {'state_id': 11, 'state_abbr': 'DE', 'year': 2019, 'population': 973764, 'violent_crime': 4115, 'homicide': 48, 'rape_legacy': None, 'rape_revised': 310, 'robbery': 790, 'aggravated_assault': 2967, 'property_crime': 21931, 'burglary': 2968, 'larceny': 17359, 'motor_vehicle_theft': 1604, 'arson': 128}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [26]:
DE_df = pd.DataFrame(DE['results'])
DE_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,11,DE,2017,957078,4377,51,None,351,1082,2893,23430,3960,18108,1362,138
1,11,DE,2018,965479,4079,46,None,334,861,2838,22405,3154,17780,1471,137
2,11,DE,2019,973764,4115,48,None,310,790,2967,21931,2968,17359,1604,128

### DC

In [27]:
#DC

DC_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/DC/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [28]:
DC = requests.get(DC_url).json()
print(DC)

{'results': [{'state_id': 10, 'state_abbr': 'DC', 'year': 2019, 'population': 705749, 'violent_crime': 7403, 'homicide': 166, 'rape_legacy': None, 'rape_revised': 345, 'robbery': 2713, 'aggravated_assault': 4179, 'property_crime': 30821, 'burglary': 1843, 'larceny': 26645, 'motor_vehicle_theft': 2333, 'arson': 162}, {'state_id': 10, 'state_abbr': 'DC', 'year': 2017, 'population': 695691, 'violent_crime': 6976, 'homicide': 116, 'rape_legacy': None, 'rape_revised': 444, 'robbery': 2625, 'aggravated_assault': 3791, 'property_crime': 29736, 'burglary': 1809, 'larceny': 25340, 'motor_vehicle_theft': 2587, 'arson': 224}, {'state_id': 10, 'state_abbr': 'DC', 'year': 2018, 'population': 701547, 'violent_crime': 6995, 'homicide': 160, 'rape_legacy': None, 'rape_revised': 450, 'robbery': 2415, 'aggravated_assault': 3970, 'property_crime': 30726, 'burglary': 1788, 'larceny': 26345, 'motor_vehicle_theft': 2593, 'arson': 194}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [29]:
DC_df = pd.DataFrame(DC['results'])
DC_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,10,DC,2019,705749,7403,166,None,345,2713,4179,30821,1843,26645,2333,162
1,10,DC,2017,695691,6976,116,None,444,2625,3791,29736,1809,25340,2587,224
2,10,DC,2018,701547,6995,160,None,450,2415,3970,30726,1788,26345,2593,194

### FL

In [30]:
#FL

FL_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/FL/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [31]:
FL = requests.get(FL_url).json()
print(FL)

{'results': [{'state_id': 12, 'state_abbr': 'FL', 'year': 2018, 'population': 21244317, 'violent_crime': 81980, 'homicide': 1107, 'rape_legacy': None, 'rape_revised': 8438, 'robbery': 16884, 'aggravated_assault': 55551, 'property_crime': 486017, 'burglary': 71933, 'larceny': 372919, 'motor_vehicle_theft': 41165, 'arson': 1126}, {'state_id': 12, 'state_abbr': 'FL', 'year': 2019, 'population': 21477737, 'violent_crime': 81270, 'homicide': 1122, 'rape_legacy': None, 'rape_revised': 8456, 'robbery': 16217, 'aggravated_assault': 55475, 'property_crime': 460846, 'burglary': 63396, 'larceny': 358402, 'motor_vehicle_theft': 39048, 'arson': 1081}, {'state_id': 12, 'state_abbr': 'FL', 'year': 2017, 'population': 20976812, 'violent_crime': 85606, 'homicide': 1057, 'rape_legacy': None, 'rape_revised': 7936, 'robbery': 18597, 'aggravated_assault': 58016, 'property_crime': 527125, 'burglary': 88835, 'larceny': 395375, 'motor_vehicle_theft': 42915, 'arson': 1355}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [32]:
FL_df = pd.DataFrame(FL['results'])
FL_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,12,FL,2018,21244317,81980,1107,None,8438,16884,55551,486017,71933,372919,41165,1126
1,12,FL,2019,21477737,81270,1122,None,8456,16217,55475,460846,63396,358402,39048,1081
2,12,FL,2017,20976812,85606,1057,None,7936,18597,58016,527125,88835,395375,42915,1355

### GA

In [33]:
#GA

GA_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/GA/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [34]:
GA = requests.get(GA_url).json()
print(GA)

{'results': [{'state_id': 13, 'state_abbr': 'GA', 'year': 2017, 'population': 10413055, 'violent_crime': 37118, 'homicide': 681, 'rape_legacy': None, 'rape_revised': 2646, 'robbery': 9844, 'aggravated_assault': 23947, 'property_crime': 297651, 'burglary': 55363, 'larceny': 216252, 'motor_vehicle_theft': 26036, 'arson': 923}, {'state_id': 13, 'state_abbr': 'GA', 'year': 2018, 'population': 10511131, 'violent_crime': 35619, 'homicide': 647, 'rape_legacy': None, 'rape_revised': 2798, 'robbery': 8499, 'aggravated_assault': 23675, 'property_crime': 277803, 'burglary': 46816, 'larceny': 205631, 'motor_vehicle_theft': 25356, 'arson': 802}, {'state_id': 13, 'state_abbr': 'GA', 'year': 2019, 'population': 10617423, 'violent_crime': 36170, 'homicide': 654, 'rape_legacy': None, 'rape_revised': 2922, 'robbery': 7961, 'aggravated_assault': 24633, 'property_crime': 252249, 'burglary': 39506, 'larceny': 188967, 'motor_vehicle_theft': 23776, 'arson': 605}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [35]:
GA_df = pd.DataFrame(GA['results'])
GA_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,13,GA,2017,10413055,37118,681,None,2646,9844,23947,297651,55363,216252,26036,923
1,13,GA,2018,10511131,35619,647,None,2798,8499,23675,277803,46816,205631,25356,802
2,13,GA,2019,10617423,36170,654,None,2922,7961,24633,252249,39506,188967,23776,605

### HI

In [36]:
#HI

HI_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/HI/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [37]:
HI = requests.get(HI_url).json()
print(HI)

{'results': [{'state_id': 15, 'state_abbr': 'HI', 'year': 2017, 'population': 1424203, 'violent_crime': 3577, 'homicide': 39, 'rape_legacy': None, 'rape_revised': 567, 'robbery': 1077, 'aggravated_assault': 1894, 'property_crime': 40392, 'burglary': 5549, 'larceny': 29574, 'motor_vehicle_theft': 5269, 'arson': 507}, {'state_id': 15, 'state_abbr': 'HI', 'year': 2018, 'population': 1420593, 'violent_crime': 3622, 'homicide': 40, 'rape_legacy': None, 'rape_revised': 709, 'robbery': 951, 'aggravated_assault': 1922, 'property_crime': 41027, 'burglary': 5709, 'larceny': 29600, 'motor_vehicle_theft': 5718, 'arson': 427}, {'state_id': 15, 'state_abbr': 'HI', 'year': 2019, 'population': 1415872, 'violent_crime': 4042, 'homicide': 48, 'rape_legacy': None, 'rape_revised': 765, 'robbery': 1131, 'aggravated_assault': 2098, 'property_crime': 40228, 'burglary': 5340, 'larceny': 29634, 'motor_vehicle_theft': 5254, 'arson': 404}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [38]:
HI_df = pd.DataFrame(HI['results'])
HI_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,15,HI,2017,1424203,3577,39,None,567,1077,1894,40392,5549,29574,5269,507
1,15,HI,2018,1420593,3622,40,None,709,951,1922,41027,5709,29600,5718,427
2,15,HI,2019,1415872,4042,48,None,765,1131,2098,40228,5340,29634,5254,404

### IA

In [39]:
#IA

IA_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/IA/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [40]:
IA = requests.get(IA_url).json()
print(IA)

{'results': [{'state_id': 16, 'state_abbr': 'IA', 'year': 2017, 'population': 3143637, 'violent_crime': 9038, 'homicide': 98, 'rape_legacy': None, 'rape_revised': 1305, 'robbery': 1269, 'aggravated_assault': 6366, 'property_crime': 65652, 'burglary': 14711, 'larceny': 45441, 'motor_vehicle_theft': 5500, 'arson': 424}, {'state_id': 16, 'state_abbr': 'IA', 'year': 2018, 'population': 3148618, 'violent_crime': 8303, 'homicide': 70, 'rape_legacy': None, 'rape_revised': 1126, 'robbery': 989, 'aggravated_assault': 6118, 'property_crime': 57024, 'burglary': 12433, 'larceny': 39498, 'motor_vehicle_theft': 5093, 'arson': 301}, {'state_id': 16, 'state_abbr': 'IA', 'year': 2019, 'population': 3155070, 'violent_crime': 8410, 'homicide': 60, 'rape_legacy': None, 'rape_revised': 1164, 'robbery': 863, 'aggravated_assault': 6323, 'property_crime': 54699, 'burglary': 11710, 'larceny': 37847, 'motor_vehicle_theft': 5142, 'arson': 322}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [41]:
IA_df = pd.DataFrame(IA['results'])
IA_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,16,IA,2017,3143637,9038,98,None,1305,1269,6366,65652,14711,45441,5500,424
1,16,IA,2018,3148618,8303,70,None,1126,989,6118,57024,12433,39498,5093,301
2,16,IA,2019,3155070,8410,60,None,1164,863,6323,54699,11710,37847,5142,322

### ID

In [42]:
#ID

ID_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/ID/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [43]:
ID = requests.get(ID_url).json()
print(ID)

{'results': [{'state_id': 17, 'state_abbr': 'ID', 'year': 2017, 'population': 1718904, 'violent_crime': 4111, 'homicide': 42, 'rape_legacy': None, 'rape_revised': 755, 'robbery': 222, 'aggravated_assault': 3092, 'property_crime': 28557, 'burglary': 5837, 'larceny': 20570, 'motor_vehicle_theft': 2150, 'arson': 182}, {'state_id': 17, 'state_abbr': 'ID', 'year': 2018, 'population': 1750536, 'violent_crime': 4196, 'homicide': 34, 'rape_legacy': None, 'rape_revised': 927, 'robbery': 195, 'aggravated_assault': 3040, 'property_crime': 25822, 'burglary': 4990, 'larceny': 18876, 'motor_vehicle_theft': 1956, 'arson': 174}, {'state_id': 17, 'state_abbr': 'ID', 'year': 2019, 'population': 1787065, 'violent_crime': 4000, 'homicide': 35, 'rape_legacy': None, 'rape_revised': 809, 'robbery': 155, 'aggravated_assault': 3001, 'property_crime': 21793, 'burglary': 3927, 'larceny': 16295, 'motor_vehicle_theft': 1571, 'arson': 146}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [44]:
ID_df = pd.DataFrame(ID['results'])
ID_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,17,ID,2017,1718904,4111,42,None,755,222,3092,28557,5837,20570,2150,182
1,17,ID,2018,1750536,4196,34,None,927,195,3040,25822,4990,18876,1956,174
2,17,ID,2019,1787065,4000,35,None,809,155,3001,21793,3927,16295,1571,146

### IL

In [45]:
#IL

IL_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/IL/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [46]:
IL = requests.get(IL_url).json()
print(IL)

{'results': [{'state_id': 18, 'state_abbr': 'IL', 'year': 2017, 'population': 12786196, 'violent_crime': 55777, 'homicide': 983, 'rape_legacy': None, 'rape_revised': 5424, 'robbery': 17731, 'aggravated_assault': 31639, 'property_crime': 255108, 'burglary': 43355, 'larceny': 190860, 'motor_vehicle_theft': 20893, 'arson': 1812}, {'state_id': 18, 'state_abbr': 'IL', 'year': 2018, 'population': 12723071, 'violent_crime': 52343, 'homicide': 902, 'rape_legacy': None, 'rape_revised': 6106, 'robbery': 14251, 'aggravated_assault': 31084, 'property_crime': 246679, 'burglary': 39317, 'larceny': 187517, 'motor_vehicle_theft': 19845, 'arson': 1335}, {'state_id': 18, 'state_abbr': 'IL', 'year': 2019, 'population': 12671821, 'violent_crime': 51561, 'homicide': 832, 'rape_legacy': None, 'rape_revised': 6078, 'robbery': 12464, 'aggravated_assault': 32187, 'property_crime': 233984, 'burglary': 34433, 'larceny': 180776, 'motor_vehicle_theft': 18775, 'arson': 1741}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [47]:
IL_df = pd.DataFrame(IL['results'])
IL_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,18,IL,2017,12786196,55777,983,None,5424,17731,31639,255108,43355,190860,20893,1812
1,18,IL,2018,12723071,52343,902,None,6106,14251,31084,246679,39317,187517,19845,1335
2,18,IL,2019,12671821,51561,832,None,6078,12464,32187,233984,34433,180776,18775,1741

### IN

In [48]:
#IN

IN_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/IN/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [49]:
IN = requests.get(IN_url).json()
print(IN)

{'results': [{'state_id': 19, 'state_abbr': 'IN', 'year': 2017, 'population': 6660082, 'violent_crime': 26307, 'homicide': 413, 'rape_legacy': None, 'rape_revised': 2612, 'robbery': 7035, 'aggravated_assault': 16247, 'property_crime': 158932, 'burglary': 29799, 'larceny': 114395, 'motor_vehicle_theft': 14738, 'arson': 768}, {'state_id': 19, 'state_abbr': 'IN', 'year': 2018, 'population': 6695497, 'violent_crime': 25009, 'homicide': 418, 'rape_legacy': None, 'rape_revised': 2486, 'robbery': 5737, 'aggravated_assault': 16368, 'property_crime': 146948, 'burglary': 25894, 'larceny': 105861, 'motor_vehicle_theft': 15193, 'arson': 604}, {'state_id': 19, 'state_abbr': 'IN', 'year': 2019, 'population': 6732219, 'violent_crime': 24966, 'homicide': 377, 'rape_legacy': None, 'rape_revised': 2475, 'robbery': 5331, 'aggravated_assault': 16783, 'property_crime': 132694, 'burglary': 21795, 'larceny': 97176, 'motor_vehicle_theft': 13723, 'arson': 687}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [50]:
IN_df = pd.DataFrame(IN['results'])
IN_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,19,IN,2017,6660082,26307,413,None,2612,7035,16247,158932,29799,114395,14738,768
1,19,IN,2018,6695497,25009,418,None,2486,5737,16368,146948,25894,105861,15193,604
2,19,IN,2019,6732219,24966,377,None,2475,5331,16783,132694,21795,97176,13723,687

### KS

In [51]:
#KS

KS_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/KS/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [52]:
KS = requests.get(KS_url).json()
print(KS)

{'results': [{'state_id': 20, 'state_abbr': 'KS', 'year': 2017, 'population': 2910689, 'violent_crime': 11654, 'homicide': 134, 'rape_legacy': None, 'rape_revised': 1504, 'robbery': 1633, 'aggravated_assault': 8383, 'property_crime': 79387, 'burglary': 13102, 'larceny': 58891, 'motor_vehicle_theft': 7394, 'arson': 572}, {'state_id': 20, 'state_abbr': 'KS', 'year': 2018, 'population': 2911359, 'violent_crime': 12861, 'homicide': 122, 'rape_legacy': None, 'rape_revised': 1664, 'robbery': 1420, 'aggravated_assault': 9655, 'property_crime': 77449, 'burglary': 12792, 'larceny': 56726, 'motor_vehicle_theft': 7931, 'arson': 620}, {'state_id': 20, 'state_abbr': 'KS', 'year': 2019, 'population': 2913314, 'violent_crime': 11968, 'homicide': 105, 'rape_legacy': None, 'rape_revised': 1416, 'robbery': 1293, 'aggravated_assault': 9154, 'property_crime': 67428, 'burglary': 9984, 'larceny': 50165, 'motor_vehicle_theft': 7279, 'arson': 412}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [53]:
KS_df = pd.DataFrame(KS['results'])
KS_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,20,KS,2017,2910689,11654,134,None,1504,1633,8383,79387,13102,58891,7394,572
1,20,KS,2018,2911359,12861,122,None,1664,1420,9655,77449,12792,56726,7931,620
2,20,KS,2019,2913314,11968,105,None,1416,1293,9154,67428,9984,50165,7279,412

### KY

In [54]:
#KY

KY_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/KY/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [55]:
KY = requests.get(KY_url).json()
print(KY)

{'results': [{'state_id': 21, 'state_abbr': 'KY', 'year': 2017, 'population': 4453874, 'violent_crime': 10292, 'homicide': 265, 'rape_legacy': None, 'rape_revised': 1817, 'robbery': 2967, 'aggravated_assault': 5243, 'property_crime': 95899, 'burglary': 20535, 'larceny': 65006, 'motor_vehicle_theft': 10358, 'arson': 504}, {'state_id': 21, 'state_abbr': 'KY', 'year': 2018, 'population': 4461153, 'violent_crime': 9719, 'homicide': 250, 'rape_legacy': None, 'rape_revised': 1875, 'robbery': 2469, 'aggravated_assault': 5125, 'property_crime': 89235, 'burglary': 17462, 'larceny': 61313, 'motor_vehicle_theft': 10460, 'arson': 441}, {'state_id': 21, 'state_abbr': 'KY', 'year': 2019, 'population': 4467673, 'violent_crime': 9701, 'homicide': 221, 'rape_legacy': None, 'rape_revised': 1572, 'robbery': 2161, 'aggravated_assault': 5747, 'property_crime': 84769, 'burglary': 15443, 'larceny': 59130, 'motor_vehicle_theft': 10196, 'arson': 401}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [56]:
KY_df = pd.DataFrame(KY['results'])
KY_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,21,KY,2017,4453874,10292,265,None,1817,2967,5243,95899,20535,65006,10358,504
1,21,KY,2018,4461153,9719,250,None,1875,2469,5125,89235,17462,61313,10460,441
2,21,KY,2019,4467673,9701,221,None,1572,2161,5747,84769,15443,59130,10196,401

### LA

In [57]:
#LA

LA_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/LA/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [58]:
LA = requests.get(LA_url).json()
print(LA)

{'results': [{'state_id': 22, 'state_abbr': 'LA', 'year': 2017, 'population': 4670818, 'violent_crime': 25986, 'homicide': 576, 'rape_legacy': None, 'rape_revised': 1850, 'robbery': 5385, 'aggravated_assault': 18175, 'property_crime': 157272, 'burglary': 34135, 'larceny': 112042, 'motor_vehicle_theft': 11095, 'arson': 601}, {'state_id': 22, 'state_abbr': 'LA', 'year': 2018, 'population': 4659690, 'violent_crime': 25314, 'homicide': 533, 'rape_legacy': None, 'rape_revised': 2105, 'robbery': 4600, 'aggravated_assault': 18076, 'property_crime': 152996, 'burglary': 31291, 'larceny': 110066, 'motor_vehicle_theft': 11639, 'arson': 500}, {'state_id': 22, 'state_abbr': 'LA', 'year': 2019, 'population': 4648794, 'violent_crime': 25537, 'homicide': 544, 'rape_legacy': None, 'rape_revised': 2273, 'robbery': 4025, 'aggravated_assault': 18695, 'property_crime': 146993, 'burglary': 26918, 'larceny': 109359, 'motor_vehicle_theft': 10716, 'arson': 421}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [59]:
LA_df = pd.DataFrame(LA['results'])
LA_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,22,LA,2017,4670818,25986,576,None,1850,5385,18175,157272,34135,112042,11095,601
1,22,LA,2018,4659690,25314,533,None,2105,4600,18076,152996,31291,110066,11639,500
2,22,LA,2019,4648794,25537,544,None,2273,4025,18695,146993,26918,109359,10716,421

### MA

In [60]:
#MA

MA_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/MA/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [61]:
MA = requests.get(MA_url).json()
print(MA)

{'results': [{'state_id': 23, 'state_abbr': 'MA', 'year': 2017, 'population': 6863246, 'violent_crime': 24318, 'homicide': 172, 'rape_legacy': None, 'rape_revised': 2199, 'robbery': 4874, 'aggravated_assault': 17073, 'property_crime': 97977, 'burglary': 16916, 'larceny': 73573, 'motor_vehicle_theft': 7488, 'arson': 387}, {'state_id': 23, 'state_abbr': 'MA', 'year': 2018, 'population': 6882635, 'violent_crime': 23424, 'homicide': 138, 'rape_legacy': None, 'rape_revised': 2465, 'robbery': 4084, 'aggravated_assault': 16737, 'property_crime': 87658, 'burglary': 14095, 'larceny': 66968, 'motor_vehicle_theft': 6595, 'arson': 292}, {'state_id': 23, 'state_abbr': 'MA', 'year': 2019, 'population': 6892503, 'violent_crime': 22578, 'homicide': 152, 'rape_legacy': None, 'rape_revised': 2204, 'robbery': 3613, 'aggravated_assault': 16609, 'property_crime': 81317, 'burglary': 12341, 'larceny': 62844, 'motor_vehicle_theft': 6132, 'arson': 303}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [62]:
MA_df = pd.DataFrame(MA['results'])
MA_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,23,MA,2017,6863246,24318,172,None,2199,4874,17073,97977,16916,73573,7488,387
1,23,MA,2018,6882635,23424,138,None,2465,4084,16737,87658,14095,66968,6595,292
2,23,MA,2019,6892503,22578,152,None,2204,3613,16609,81317,12341,62844,6132,303

### MD

In [63]:
#MD

MD_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/MD/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [64]:
MD = requests.get(MD_url).json()
print(MD)

{'results': [{'state_id': 24, 'state_abbr': 'MD', 'year': 2017, 'population': 6024891, 'violent_crime': 30321, 'homicide': 558, 'rape_legacy': None, 'rape_revised': 1712, 'robbery': 11189, 'aggravated_assault': 16862, 'property_crime': 134705, 'burglary': 23526, 'larceny': 97657, 'motor_vehicle_theft': 13522, 'arson': 946}, {'state_id': 24, 'state_abbr': 'MD', 'year': 2018, 'population': 6035802, 'violent_crime': 28330, 'homicide': 491, 'rape_legacy': None, 'rape_revised': 1991, 'robbery': 9716, 'aggravated_assault': 16132, 'property_crime': 122945, 'burglary': 18910, 'larceny': 91887, 'motor_vehicle_theft': 12148, 'arson': 665}, {'state_id': 24, 'state_abbr': 'MD', 'year': 2019, 'population': 6045680, 'violent_crime': 27456, 'homicide': 542, 'rape_legacy': None, 'rape_revised': 1913, 'robbery': 9203, 'aggravated_assault': 15798, 'property_crime': 117901, 'burglary': 16862, 'larceny': 89780, 'motor_vehicle_theft': 11259, 'arson': 585}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [65]:
MD_df = pd.DataFrame(MD['results'])
MD_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,24,MD,2017,6024891,30321,558,None,1712,11189,16862,134705,23526,97657,13522,946
1,24,MD,2018,6035802,28330,491,None,1991,9716,16132,122945,18910,91887,12148,665
2,24,MD,2019,6045680,27456,542,None,1913,9203,15798,117901,16862,89780,11259,585

### ME

In [66]:
#ME

ME_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/ME/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [67]:
ME = requests.get(ME_url).json()
print(ME)

{'results': [{'state_id': 25, 'state_abbr': 'ME', 'year': 2017, 'population': 1335063, 'violent_crime': 1610, 'homicide': 23, 'rape_legacy': None, 'rape_revised': 470, 'robbery': 249, 'aggravated_assault': 868, 'property_crime': 20142, 'burglary': 3337, 'larceny': 16012, 'motor_vehicle_theft': 793, 'arson': 153}, {'state_id': 25, 'state_abbr': 'ME', 'year': 2018, 'population': 1339057, 'violent_crime': 1500, 'homicide': 23, 'rape_legacy': None, 'rape_revised': 447, 'robbery': 228, 'aggravated_assault': 802, 'property_crime': 18201, 'burglary': 2712, 'larceny': 14712, 'motor_vehicle_theft': 777, 'arson': 109}, {'state_id': 25, 'state_abbr': 'ME', 'year': 2019, 'population': 1344212, 'violent_crime': 1548, 'homicide': 20, 'rape_legacy': None, 'rape_revised': 516, 'robbery': 188, 'aggravated_assault': 824, 'property_crime': 16743, 'burglary': 2350, 'larceny': 13667, 'motor_vehicle_theft': 726, 'arson': 151}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [68]:
ME_df = pd.DataFrame(ME['results'])
ME_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,25,ME,2017,1335063,1610,23,None,470,249,868,20142,3337,16012,793,153
1,25,ME,2018,1339057,1500,23,None,447,228,802,18201,2712,14712,777,109
2,25,ME,2019,1344212,1548,20,None,516,188,824,16743,2350,13667,726,151

### MI

In [69]:
#MI

MI_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/MI/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [70]:
MI = requests.get(MI_url).json()
print(MI)

{'results': [{'state_id': 26, 'state_abbr': 'MI', 'year': 2017, 'population': 9976447, 'violent_crime': 44883, 'homicide': 569, 'rape_legacy': None, 'rape_revised': 7110, 'robbery': 6508, 'aggravated_assault': 30696, 'property_crime': 179839, 'burglary': 35833, 'larceny': 124410, 'motor_vehicle_theft': 19596, 'arson': 1959}, {'state_id': 26, 'state_abbr': 'MI', 'year': 2018, 'population': 9984072, 'violent_crime': 45176, 'homicide': 555, 'rape_legacy': None, 'rape_revised': 7901, 'robbery': 5638, 'aggravated_assault': 31082, 'property_crime': 166186, 'burglary': 31834, 'larceny': 116876, 'motor_vehicle_theft': 17476, 'arson': 1767}, {'state_id': 26, 'state_abbr': 'MI', 'year': 2019, 'population': 9986857, 'violent_crime': 43686, 'homicide': 556, 'rape_legacy': None, 'rape_revised': 7235, 'robbery': 5350, 'aggravated_assault': 30545, 'property_crime': 158296, 'burglary': 28572, 'larceny': 111980, 'motor_vehicle_theft': 17744, 'arson': 1666}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [71]:
MI_df = pd.DataFrame(MI['results'])
MI_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,26,MI,2017,9976447,44883,569,None,7110,6508,30696,179839,35833,124410,19596,1959
1,26,MI,2018,9984072,45176,555,None,7901,5638,31082,166186,31834,116876,17476,1767
2,26,MI,2019,9986857,43686,556,None,7235,5350,30545,158296,28572,111980,17744,1666

### MN

In [72]:
#MN

MN_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/MN/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [73]:
MN = requests.get(MN_url).json()
print(MN)

{'results': [{'state_id': 27, 'state_abbr': 'MN', 'year': 2017, 'population': 5568155, 'violent_crime': 13345, 'homicide': 114, 'rape_legacy': None, 'rape_revised': 2405, 'robbery': 3627, 'aggravated_assault': 7199, 'property_crime': 122430, 'burglary': 18828, 'larceny': 93602, 'motor_vehicle_theft': 10000, 'arson': 534}, {'state_id': 27, 'state_abbr': 'MN', 'year': 2018, 'population': 5606249, 'violent_crime': 12403, 'homicide': 107, 'rape_legacy': None, 'rape_revised': 2475, 'robbery': 2946, 'aggravated_assault': 6875, 'property_crime': 112186, 'burglary': 16206, 'larceny': 85849, 'motor_vehicle_theft': 10131, 'arson': 434}, {'state_id': 27, 'state_abbr': 'MN', 'year': 2019, 'population': 5639632, 'violent_crime': 13332, 'homicide': 117, 'rape_legacy': None, 'rape_revised': 2448, 'robbery': 3149, 'aggravated_assault': 7618, 'property_crime': 117236, 'burglary': 15927, 'larceny': 90092, 'motor_vehicle_theft': 11217, 'arson': 484}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [74]:
MN_df = pd.DataFrame(MN['results'])
MN_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,27,MN,2017,5568155,13345,114,None,2405,3627,7199,122430,18828,93602,10000,534
1,27,MN,2018,5606249,12403,107,None,2475,2946,6875,112186,16206,85849,10131,434
2,27,MN,2019,5639632,13332,117,None,2448,3149,7618,117236,15927,90092,11217,484

### MO

In [75]:
#MO

MO_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/MO/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [76]:
MO = requests.get(MO_url).json()
print(MO)

{'results': [{'state_id': 28, 'state_abbr': 'MO', 'year': 2017, 'population': 6108612, 'violent_crime': 32450, 'homicide': 599, 'rape_legacy': None, 'rape_revised': 2737, 'robbery': 6362, 'aggravated_assault': 22752, 'property_crime': 173380, 'burglary': 30086, 'larceny': 123356, 'motor_vehicle_theft': 19938, 'arson': 1034}, {'state_id': 28, 'state_abbr': 'MO', 'year': 2018, 'population': 6121623, 'violent_crime': 30696, 'homicide': 599, 'rape_legacy': None, 'rape_revised': 2935, 'robbery': 5206, 'aggravated_assault': 21956, 'property_crime': 162698, 'burglary': 27345, 'larceny': 115506, 'motor_vehicle_theft': 19847, 'arson': 1069}, {'state_id': 28, 'state_abbr': 'MO', 'year': 2019, 'population': 6137428, 'violent_crime': 30380, 'homicide': 568, 'rape_legacy': None, 'rape_revised': 2917, 'robbery': 4959, 'aggravated_assault': 21936, 'property_crime': 161946, 'burglary': 26414, 'larceny': 114460, 'motor_vehicle_theft': 21072, 'arson': 881}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [77]:
MO_df = pd.DataFrame(MO['results'])
MO_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,28,MO,2017,6108612,32450,599,None,2737,6362,22752,173380,30086,123356,19938,1034
1,28,MO,2018,6121623,30696,599,None,2935,5206,21956,162698,27345,115506,19847,1069
2,28,MO,2019,6137428,30380,568,None,2917,4959,21936,161946,26414,114460,21072,881

### MS

In [78]:
#MS

MS_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/MS/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [79]:
MS = requests.get(MS_url).json()
print(MS)

{'results': [{'state_id': 29, 'state_abbr': 'MS', 'year': 2017, 'population': 2989663, 'violent_crime': 7661, 'homicide': 190, 'rape_legacy': None, 'rape_revised': 658, 'robbery': 2492, 'aggravated_assault': 4321, 'property_crime': 82764, 'burglary': 22449, 'larceny': 55968, 'motor_vehicle_theft': 4347, 'arson': 215}, {'state_id': 29, 'state_abbr': 'MS', 'year': 2018, 'population': 2981020, 'violent_crime': 7929, 'homicide': 214, 'rape_legacy': None, 'rape_revised': 596, 'robbery': 1700, 'aggravated_assault': 5419, 'property_crime': 71701, 'burglary': 20355, 'larceny': 46201, 'motor_vehicle_theft': 5145, 'arson': 202}, {'state_id': 29, 'state_abbr': 'MS', 'year': 2019, 'population': 2976149, 'violent_crime': 8272, 'homicide': 332, 'rape_legacy': None, 'rape_revised': 747, 'robbery': 1700, 'aggravated_assault': 5493, 'property_crime': 70707, 'burglary': 18660, 'larceny': 46300, 'motor_vehicle_theft': 5747, 'arson': 218}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [80]:
MS_df = pd.DataFrame(MS['results'])
MS_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,29,MS,2017,2989663,7661,190,None,658,2492,4321,82764,22449,55968,4347,215
1,29,MS,2018,2981020,7929,214,None,596,1700,5419,71701,20355,46201,5145,202
2,29,MS,2019,2976149,8272,332,None,747,1700,5493,70707,18660,46300,5747,218

### MT

In [81]:
#MT

MT_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/MT/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [82]:
MT = requests.get(MT_url).json()
print(MT)

{'results': [{'state_id': 30, 'state_abbr': 'MT', 'year': 2017, 'population': 1053090, 'violent_crime': 3937, 'homicide': 41, 'rape_legacy': None, 'rape_revised': 639, 'robbery': 234, 'aggravated_assault': 3023, 'property_crime': 27294, 'burglary': 3623, 'larceny': 21073, 'motor_vehicle_theft': 2598, 'arson': 169}, {'state_id': 30, 'state_abbr': 'MT', 'year': 2018, 'population': 1060665, 'violent_crime': 4040, 'homicide': 37, 'rape_legacy': None, 'rape_revised': 569, 'robbery': 270, 'aggravated_assault': 3164, 'property_crime': 26787, 'burglary': 3329, 'larceny': 20641, 'motor_vehicle_theft': 2817, 'arson': 125}, {'state_id': 30, 'state_abbr': 'MT', 'year': 2019, 'population': 1068778, 'violent_crime': 4328, 'homicide': 27, 'rape_legacy': None, 'rape_revised': 624, 'robbery': 205, 'aggravated_assault': 3472, 'property_crime': 23440, 'burglary': 2887, 'larceny': 18176, 'motor_vehicle_theft': 2377, 'arson': 113}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [83]:
MT_df = pd.DataFrame(MT['results'])
MT_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,30,MT,2017,1053090,3937,41,None,639,234,3023,27294,3623,21073,2598,169
1,30,MT,2018,1060665,4040,37,None,569,270,3164,26787,3329,20641,2817,125
2,30,MT,2019,1068778,4328,27,None,624,205,3472,23440,2887,18176,2377,113

### NC

In [84]:
#NC

NC_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/NC/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [85]:
NC = requests.get(NC_url).json()
print(NC)

{'results': [{'state_id': 32, 'state_abbr': 'NC', 'year': 2017, 'population': 10270800, 'violent_crime': 38043, 'homicide': 622, 'rape_legacy': None, 'rape_revised': 1944, 'robbery': 9884, 'aggravated_assault': 25593, 'property_crime': 265483, 'burglary': 65247, 'larceny': 184119, 'motor_vehicle_theft': 16117, 'arson': 1245}, {'state_id': 32, 'state_abbr': 'NC', 'year': 2018, 'population': 10381615, 'violent_crime': 36980, 'homicide': 574, 'rape_legacy': None, 'rape_revised': 2633, 'robbery': 7573, 'aggravated_assault': 26200, 'property_crime': 243323, 'burglary': 57450, 'larceny': 169376, 'motor_vehicle_theft': 16497, 'arson': 1150}, {'state_id': 32, 'state_abbr': 'NC', 'year': 2019, 'population': 10488084, 'violent_crime': 38995, 'homicide': 632, 'rape_legacy': None, 'rape_revised': 3247, 'robbery': 7599, 'aggravated_assault': 27517, 'property_crime': 247236, 'burglary': 54447, 'larceny': 174728, 'motor_vehicle_theft': 18061, 'arson': 1153}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [86]:
NC_df = pd.DataFrame(NC['results'])
NC_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,32,NC,2017,10270800,38043,622,None,1944,9884,25593,265483,65247,184119,16117,1245
1,32,NC,2018,10381615,36980,574,None,2633,7573,26200,243323,57450,169376,16497,1150
2,32,NC,2019,10488084,38995,632,None,3247,7599,27517,247236,54447,174728,18061,1153

### ND

In [87]:
#ND

ND_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/ND/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [88]:
ND = requests.get(ND_url).json()
print(ND)

{'results': [{'state_id': 33, 'state_abbr': 'ND', 'year': 2017, 'population': 755176, 'violent_crime': 2133, 'homicide': 10, 'rape_legacy': None, 'rape_revised': 406, 'robbery': 183, 'aggravated_assault': 1534, 'property_crime': 16653, 'burglary': 2947, 'larceny': 11944, 'motor_vehicle_theft': 1762, 'arson': 110}, {'state_id': 33, 'state_abbr': 'ND', 'year': 2018, 'population': 758080, 'violent_crime': 2154, 'homicide': 18, 'rape_legacy': None, 'rape_revised': 409, 'robbery': 158, 'aggravated_assault': 1569, 'property_crime': 15621, 'burglary': 2742, 'larceny': 11088, 'motor_vehicle_theft': 1791, 'arson': 60}, {'state_id': 33, 'state_abbr': 'ND', 'year': 2019, 'population': 762062, 'violent_crime': 2169, 'homicide': 24, 'rape_legacy': None, 'rape_revised': 437, 'robbery': 179, 'aggravated_assault': 1529, 'property_crime': 15066, 'burglary': 2608, 'larceny': 10666, 'motor_vehicle_theft': 1792, 'arson': 84}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [89]:
ND_df = pd.DataFrame(ND['results'])
ND_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,33,ND,2017,755176,2133,10,None,406,183,1534,16653,2947,11944,1762,110
1,33,ND,2018,758080,2154,18,None,409,158,1569,15621,2742,11088,1791,60
2,33,ND,2019,762062,2169,24,None,437,179,1529,15066,2608,10666,1792,84

### NE

In [90]:
#NE

NE_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/NE/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [91]:
NE = requests.get(NE_url).json()
print(NE)

{'results': [{'state_id': 31, 'state_abbr': 'NE', 'year': 2017, 'population': 1917575, 'violent_crime': 5979, 'homicide': 42, 'rape_legacy': None, 'rape_revised': 1191, 'robbery': 1020, 'aggravated_assault': 3726, 'property_crime': 43856, 'burglary': 6513, 'larceny': 32064, 'motor_vehicle_theft': 5279, 'arson': 144}, {'state_id': 31, 'state_abbr': 'NE', 'year': 2018, 'population': 1925614, 'violent_crime': 5583, 'homicide': 44, 'rape_legacy': None, 'rape_revised': 1290, 'robbery': 736, 'aggravated_assault': 3513, 'property_crime': 40193, 'burglary': 5308, 'larceny': 29987, 'motor_vehicle_theft': 4898, 'arson': 106}, {'state_id': 31, 'state_abbr': 'NE', 'year': 2019, 'population': 1934408, 'violent_crime': 5821, 'homicide': 45, 'rape_legacy': None, 'rape_revised': 1253, 'robbery': 792, 'aggravated_assault': 3731, 'property_crime': 39449, 'burglary': 4745, 'larceny': 29719, 'motor_vehicle_theft': 4985, 'arson': 132}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [92]:
NE_df = pd.DataFrame(NE['results'])
NE_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,31,NE,2017,1917575,5979,42,None,1191,1020,3726,43856,6513,32064,5279,144
1,31,NE,2018,1925614,5583,44,None,1290,736,3513,40193,5308,29987,4898,106
2,31,NE,2019,1934408,5821,45,None,1253,792,3731,39449,4745,29719,4985,132

### NH

In [93]:
#NH

NH_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/NH/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [94]:
NH = requests.get(NH_url).json()
print(NH)

{'results': [{'state_id': 34, 'state_abbr': 'NH', 'year': 2017, 'population': 1349767, 'violent_crime': 2642, 'homicide': 13, 'rape_legacy': None, 'rape_revised': 619, 'robbery': 441, 'aggravated_assault': 1569, 'property_crime': 18550, 'burglary': 2554, 'larceny': 15087, 'motor_vehicle_theft': 909, 'arson': 129}, {'state_id': 34, 'state_abbr': 'NH', 'year': 2018, 'population': 1353465, 'violent_crime': 2404, 'homicide': 21, 'rape_legacy': None, 'rape_revised': 578, 'robbery': 342, 'aggravated_assault': 1463, 'property_crime': 17201, 'burglary': 1908, 'larceny': 14396, 'motor_vehicle_theft': 897, 'arson': 120}, {'state_id': 34, 'state_abbr': 'NH', 'year': 2019, 'population': 1359711, 'violent_crime': 2074, 'homicide': 33, 'rape_legacy': None, 'rape_revised': 590, 'robbery': 313, 'aggravated_assault': 1138, 'property_crime': 16442, 'burglary': 1717, 'larceny': 13832, 'motor_vehicle_theft': 893, 'arson': 118}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [95]:
NH_df = pd.DataFrame(NH['results'])
NH_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,34,NH,2017,1349767,2642,13,None,619,441,1569,18550,2554,15087,909,129
1,34,NH,2018,1353465,2404,21,None,578,342,1463,17201,1908,14396,897,120
2,34,NH,2019,1359711,2074,33,None,590,313,1138,16442,1717,13832,893,118

### NJ

In [96]:
#NJ

NJ_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/NJ/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [97]:
NJ = requests.get(NJ_url).json()
print(NJ)

{'results': [{'state_id': 35, 'state_abbr': 'NJ', 'year': 2017, 'population': 8888543, 'violent_crime': 20604, 'homicide': 324, 'rape_legacy': None, 'rape_revised': 1505, 'robbery': 7895, 'aggravated_assault': 10880, 'property_crime': 140086, 'burglary': 23891, 'larceny': 104025, 'motor_vehicle_theft': 12170, 'arson': 574}, {'state_id': 35, 'state_abbr': 'NJ', 'year': 2018, 'population': 8886025, 'violent_crime': 18536, 'homicide': 285, 'rape_legacy': None, 'rape_revised': 1424, 'robbery': 6364, 'aggravated_assault': 10463, 'property_crime': 125155, 'burglary': 19232, 'larceny': 94886, 'motor_vehicle_theft': 11037, 'arson': 409}, {'state_id': 35, 'state_abbr': 'NJ', 'year': 2019, 'population': 8882190, 'violent_crime': 18375, 'homicide': 262, 'rape_legacy': None, 'rape_revised': 1531, 'robbery': 5730, 'aggravated_assault': 10852, 'property_crime': 118637, 'burglary': 16399, 'larceny': 91902, 'motor_vehicle_theft': 10336, 'arson': 410}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [98]:
NJ_df = pd.DataFrame(NJ['results'])
NJ_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,35,NJ,2017,8888543,20604,324,None,1505,7895,10880,140086,23891,104025,12170,574
1,35,NJ,2018,8886025,18536,285,None,1424,6364,10463,125155,19232,94886,11037,409
2,35,NJ,2019,8882190,18375,262,None,1531,5730,10852,118637,16399,91902,10336,410

### NM

In [99]:
#NM

NM_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/NM/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [100]:
NM = requests.get(NM_url).json()
print(NM)

{'results': [{'state_id': 36, 'state_abbr': 'NM', 'year': 2017, 'population': 2093395, 'violent_crime': 16300, 'homicide': 144, 'rape_legacy': None, 'rape_revised': 1244, 'robbery': 3732, 'aggravated_assault': 11180, 'property_crime': 81865, 'burglary': 17872, 'larceny': 52284, 'motor_vehicle_theft': 11709, 'arson': 334}, {'state_id': 36, 'state_abbr': 'NM', 'year': 2018, 'population': 2092741, 'violent_crime': 17637, 'homicide': 153, 'rape_legacy': None, 'rape_revised': 1302, 'robbery': 2646, 'aggravated_assault': 13536, 'property_crime': 70722, 'burglary': 16102, 'larceny': 44592, 'motor_vehicle_theft': 10028, 'arson': 304}, {'state_id': 36, 'state_abbr': 'NM', 'year': 2019, 'population': 2096829, 'violent_crime': 17450, 'homicide': 181, 'rape_legacy': None, 'rape_revised': 1288, 'robbery': 2341, 'aggravated_assault': 13640, 'property_crime': 65269, 'burglary': 14610, 'larceny': 41702, 'motor_vehicle_theft': 8957, 'arson': 286}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [101]:
NM_df = pd.DataFrame(NM['results'])
NM_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,36,NM,2017,2093395,16300,144,None,1244,3732,11180,81865,17872,52284,11709,334
1,36,NM,2018,2092741,17637,153,None,1302,2646,13536,70722,16102,44592,10028,304
2,36,NM,2019,2096829,17450,181,None,1288,2341,13640,65269,14610,41702,8957,286

### NV

In [102]:
#NV

NV_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/NV/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [103]:
NV = requests.get(NV_url).json()
print(NV)

{'results': [{'state_id': 37, 'state_abbr': 'NV', 'year': 2017, 'population': 2972405, 'violent_crime': 16663, 'homicide': 266, 'rape_legacy': None, 'rape_revised': 1896, 'robbery': 4841, 'aggravated_assault': 9660, 'property_crime': 78320, 'burglary': 20049, 'larceny': 45459, 'motor_vehicle_theft': 12812, 'arson': 370}, {'state_id': 37, 'state_abbr': 'NV', 'year': 2018, 'population': 3027341, 'violent_crime': 16715, 'homicide': 202, 'rape_legacy': None, 'rape_revised': 2329, 'robbery': 3862, 'aggravated_assault': 10322, 'property_crime': 73998, 'burglary': 17741, 'larceny': 44341, 'motor_vehicle_theft': 11916, 'arson': 378}, {'state_id': 37, 'state_abbr': 'NV', 'year': 2019, 'population': 3080156, 'violent_crime': 15210, 'homicide': 143, 'rape_legacy': None, 'rape_revised': 2161, 'robbery': 3286, 'aggravated_assault': 9620, 'property_crime': 71525, 'burglary': 15510, 'larceny': 44755, 'motor_vehicle_theft': 11260, 'arson': 290}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [104]:
NV_df = pd.DataFrame(NV['results'])
NV_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,37,NV,2017,2972405,16663,266,None,1896,4841,9660,78320,20049,45459,12812,370
1,37,NV,2018,3027341,16715,202,None,2329,3862,10322,73998,17741,44341,11916,378
2,37,NV,2019,3080156,15210,143,None,2161,3286,9620,71525,15510,44755,11260,290

### NY

In [105]:
#NY

NY_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/NY/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [106]:
NY = requests.get(NY_url).json()
print(NY)

{'results': [{'state_id': 38, 'state_abbr': 'NY', 'year': 2017, 'population': 19590719, 'violent_crime': 70746, 'homicide': 550, 'rape_legacy': None, 'rape_revised': 6297, 'robbery': 20122, 'aggravated_assault': 43777, 'property_crime': 293390, 'burglary': 34928, 'larceny': 245093, 'motor_vehicle_theft': 13369, 'arson': 1101}, {'state_id': 38, 'state_abbr': 'NY', 'year': 2018, 'population': 19530351, 'violent_crime': 68512, 'homicide': 562, 'rape_legacy': None, 'rape_revised': 6577, 'robbery': 18191, 'aggravated_assault': 43182, 'property_crime': 281543, 'burglary': 31158, 'larceny': 237243, 'motor_vehicle_theft': 13142, 'arson': 833}, {'state_id': 38, 'state_abbr': 'NY', 'year': 2019, 'population': 19453561, 'violent_crime': 69764, 'homicide': 558, 'rape_legacy': None, 'rape_revised': 6583, 'robbery': 18068, 'aggravated_assault': 44555, 'property_crime': 267155, 'burglary': 27600, 'larceny': 226851, 'motor_vehicle_theft': 12704, 'arson': 820}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [107]:
NY_df = pd.DataFrame(NY['results'])
NY_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,38,NY,2017,19590719,70746,550,None,6297,20122,43777,293390,34928,245093,13369,1101
1,38,NY,2018,19530351,68512,562,None,6577,18191,43182,281543,31158,237243,13142,833
2,38,NY,2019,19453561,69764,558,None,6583,18068,44555,267155,27600,226851,12704,820

### OH

In [108]:
#OH

OH_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/OH/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [109]:
OH = requests.get(OH_url).json()
print(OH)

{'results': [{'state_id': 39, 'state_abbr': 'OH', 'year': 2017, 'population': 11664129, 'violent_crime': 34621, 'homicide': 741, 'rape_legacy': None, 'rape_revised': 5833, 'robbery': 11224, 'aggravated_assault': 16823, 'property_crime': 280557, 'burglary': 57521, 'larceny': 202320, 'motor_vehicle_theft': 20716, 'arson': 1457}, {'state_id': 39, 'state_abbr': 'OH', 'year': 2018, 'population': 11676341, 'violent_crime': 34426, 'homicide': 596, 'rape_legacy': None, 'rape_revised': 5852, 'robbery': 9608, 'aggravated_assault': 18370, 'property_crime': 257848, 'burglary': 49456, 'larceny': 188433, 'motor_vehicle_theft': 19959, 'arson': 1331}, {'state_id': 39, 'state_abbr': 'OH', 'year': 2019, 'population': 11689100, 'violent_crime': 34269, 'homicide': 538, 'rape_legacy': None, 'rape_revised': 5731, 'robbery': 8846, 'aggravated_assault': 19154, 'property_crime': 240291, 'burglary': 43894, 'larceny': 177725, 'motor_vehicle_theft': 18672, 'arson': 1173}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [110]:
OH_df = pd.DataFrame(OH['results'])
OH_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,39,OH,2017,11664129,34621,741,None,5833,11224,16823,280557,57521,202320,20716,1457
1,39,OH,2018,11676341,34426,596,None,5852,9608,18370,257848,49456,188433,19959,1331
2,39,OH,2019,11689100,34269,538,None,5731,8846,19154,240291,43894,177725,18672,1173

### OK

In [111]:
#OK

OK_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/OK/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [112]:
OK = requests.get(OK_url).json()
print(OK)

{'results': [{'state_id': 40, 'state_abbr': 'OK', 'year': 2017, 'population': 3932640, 'violent_crime': 17989, 'homicide': 243, 'rape_legacy': None, 'rape_revised': 2220, 'robbery': 3007, 'aggravated_assault': 12519, 'property_crime': 113611, 'burglary': 28749, 'larceny': 72546, 'motor_vehicle_theft': 12316, 'arson': 737}, {'state_id': 40, 'state_abbr': 'OK', 'year': 2018, 'population': 3940235, 'violent_crime': 18701, 'homicide': 215, 'rape_legacy': None, 'rape_revised': 2431, 'robbery': 2805, 'aggravated_assault': 13250, 'property_crime': 114395, 'burglary': 27178, 'larceny': 73799, 'motor_vehicle_theft': 13418, 'arson': 785}, {'state_id': 40, 'state_abbr': 'OK', 'year': 2019, 'population': 3956971, 'violent_crime': 17086, 'homicide': 266, 'rape_legacy': None, 'rape_revised': 2268, 'robbery': 2369, 'aggravated_assault': 12183, 'property_crime': 112587, 'burglary': 26577, 'larceny': 72632, 'motor_vehicle_theft': 13378, 'arson': 765}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [113]:
OK_df = pd.DataFrame(OK['results'])
OK_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,40,OK,2017,3932640,17989,243,None,2220,3007,12519,113611,28749,72546,12316,737
1,40,OK,2018,3940235,18701,215,None,2431,2805,13250,114395,27178,73799,13418,785
2,40,OK,2019,3956971,17086,266,None,2268,2369,12183,112587,26577,72632,13378,765

### OR

In [114]:
#OR

OR_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/OR/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [115]:
OR = requests.get(OR_url).json()
print(OR)

{'results': [{'state_id': 41, 'state_abbr': 'OR', 'year': 2017, 'population': 4146592, 'violent_crime': 11629, 'homicide': 105, 'rape_legacy': None, 'rape_revised': 1992, 'robbery': 2474, 'aggravated_assault': 7058, 'property_crime': 122524, 'burglary': 17415, 'larceny': 88091, 'motor_vehicle_theft': 17018, 'arson': 980}, {'state_id': 41, 'state_abbr': 'OR', 'year': 2018, 'population': 4181886, 'violent_crime': 12146, 'homicide': 86, 'rape_legacy': None, 'rape_revised': 2114, 'robbery': 2515, 'aggravated_assault': 7431, 'property_crime': 122401, 'burglary': 16515, 'larceny': 89191, 'motor_vehicle_theft': 16695, 'arson': 1014}, {'state_id': 41, 'state_abbr': 'OR', 'year': 2019, 'population': 4217737, 'violent_crime': 11995, 'homicide': 116, 'rape_legacy': None, 'rape_revised': 1778, 'robbery': 2276, 'aggravated_assault': 7825, 'property_crime': 115170, 'burglary': 14724, 'larceny': 85261, 'motor_vehicle_theft': 15185, 'arson': 871}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [116]:
OR_df = pd.DataFrame(OR['results'])
OR_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,41,OR,2017,4146592,11629,105,None,1992,2474,7058,122524,17415,88091,17018,980
1,41,OR,2018,4181886,12146,86,None,2114,2515,7431,122401,16515,89191,16695,1014
2,41,OR,2019,4217737,11995,116,None,1778,2276,7825,115170,14724,85261,15185,871

### PA

In [117]:
#PA

PA_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/PA/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [118]:
PA = requests.get(PA_url).json()
print(PA)

{'results': [{'state_id': 42, 'state_abbr': 'PA', 'year': 2017, 'population': 12790447, 'violent_crime': 40030, 'homicide': 742, 'rape_legacy': None, 'rape_revised': 4216, 'robbery': 11777, 'aggravated_assault': 23295, 'property_crime': 210316, 'burglary': 31925, 'larceny': 165434, 'motor_vehicle_theft': 12957, 'arson': 1480}, {'state_id': 42, 'state_abbr': 'PA', 'year': 2018, 'population': 12800922, 'violent_crime': 39099, 'homicide': 784, 'rape_legacy': None, 'rape_revised': 4490, 'robbery': 9854, 'aggravated_assault': 23971, 'property_crime': 190633, 'burglary': 27054, 'larceny': 150441, 'motor_vehicle_theft': 13138, 'arson': 1440}, {'state_id': 42, 'state_abbr': 'PA', 'year': 2019, 'population': 12801989, 'violent_crime': 39228, 'homicide': 669, 'rape_legacy': None, 'rape_revised': 4351, 'robbery': 9743, 'aggravated_assault': 24465, 'property_crime': 179665, 'burglary': 23354, 'larceny': 143921, 'motor_vehicle_theft': 12390, 'arson': 1033}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [119]:
PA_df = pd.DataFrame(PA['results'])
PA_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,42,PA,2017,12790447,40030,742,None,4216,11777,23295,210316,31925,165434,12957,1480
1,42,PA,2018,12800922,39099,784,None,4490,9854,23971,190633,27054,150441,13138,1440
2,42,PA,2019,12801989,39228,669,None,4351,9743,24465,179665,23354,143921,12390,1033

### RI

In [120]:
#RI

RI_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/RI/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [121]:
RI = requests.get(RI_url).json()
print(RI)

{'results': [{'state_id': 44, 'state_abbr': 'RI', 'year': 2017, 'population': 1056486, 'violent_crime': 2474, 'homicide': 21, 'rape_legacy': None, 'rape_revised': 454, 'robbery': 474, 'aggravated_assault': 1525, 'property_crime': 18585, 'burglary': 3219, 'larceny': 13882, 'motor_vehicle_theft': 1484, 'arson': 130}, {'state_id': 44, 'state_abbr': 'RI', 'year': 2018, 'population': 1058287, 'violent_crime': 2326, 'homicide': 16, 'rape_legacy': None, 'rape_revised': 494, 'robbery': 453, 'aggravated_assault': 1363, 'property_crime': 17625, 'burglary': 2817, 'larceny': 13270, 'motor_vehicle_theft': 1538, 'arson': 82}, {'state_id': 44, 'state_abbr': 'RI', 'year': 2019, 'population': 1059361, 'violent_crime': 2342, 'homicide': 25, 'rape_legacy': None, 'rape_revised': 491, 'robbery': 418, 'aggravated_assault': 1408, 'property_crime': 16259, 'burglary': 2321, 'larceny': 12580, 'motor_vehicle_theft': 1358, 'arson': 86}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [122]:
RI_df = pd.DataFrame(RI['results'])
RI_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,44,RI,2017,1056486,2474,21,None,454,474,1525,18585,3219,13882,1484,130
1,44,RI,2018,1058287,2326,16,None,494,453,1363,17625,2817,13270,1538,82
2,44,RI,2019,1059361,2342,25,None,491,418,1408,16259,2321,12580,1358,86

### SC

In [123]:
#SC

SC_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/SC/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [124]:
SC = requests.get(SC_url).json()
print(SC)

{'results': [{'state_id': 45, 'state_abbr': 'SC', 'year': 2017, 'population': 5021219, 'violent_crime': 25412, 'homicide': 380, 'rape_legacy': None, 'rape_revised': 2576, 'robbery': 3884, 'aggravated_assault': 18572, 'property_crime': 160368, 'burglary': 31165, 'larceny': 114931, 'motor_vehicle_theft': 14272, 'arson': 674}, {'state_id': 45, 'state_abbr': 'SC', 'year': 2018, 'population': 5084156, 'violent_crime': 25463, 'homicide': 411, 'rape_legacy': None, 'rape_revised': 2650, 'robbery': 3592, 'aggravated_assault': 18810, 'property_crime': 156330, 'burglary': 29957, 'larceny': 111427, 'motor_vehicle_theft': 14946, 'arson': 644}, {'state_id': 45, 'state_abbr': 'SC', 'year': 2019, 'population': 5148714, 'violent_crime': 26323, 'homicide': 464, 'rape_legacy': None, 'rape_revised': 2460, 'robbery': 3294, 'aggravated_assault': 20105, 'property_crime': 151389, 'burglary': 27461, 'larceny': 108953, 'motor_vehicle_theft': 14975, 'arson': 594}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [125]:
SC_df = pd.DataFrame(SC['results'])
SC_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,45,SC,2017,5021219,25412,380,None,2576,3884,18572,160368,31165,114931,14272,674
1,45,SC,2018,5084156,25463,411,None,2650,3592,18810,156330,29957,111427,14946,644
2,45,SC,2019,5148714,26323,464,None,2460,3294,20105,151389,27461,108953,14975,594

### SD

In [126]:
#SD

SD_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/SD/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [127]:
SD = requests.get(SD_url).json()
print(SD)

{'results': [{'state_id': 46, 'state_abbr': 'SD', 'year': 2017, 'population': 873286, 'violent_crime': 3753, 'homicide': 27, 'rape_legacy': None, 'rape_revised': 575, 'robbery': 264, 'aggravated_assault': 2887, 'property_crime': 16588, 'burglary': 2835, 'larceny': 12285, 'motor_vehicle_theft': 1468, 'arson': 137}, {'state_id': 46, 'state_abbr': 'SD', 'year': 2018, 'population': 878698, 'violent_crime': 3483, 'homicide': 12, 'rape_legacy': None, 'rape_revised': 617, 'robbery': 222, 'aggravated_assault': 2632, 'property_crime': 15191, 'burglary': 2502, 'larceny': 11237, 'motor_vehicle_theft': 1452, 'arson': 78}, {'state_id': 46, 'state_abbr': 'SD', 'year': 2019, 'population': 884659, 'violent_crime': 3530, 'homicide': 17, 'rape_legacy': None, 'rape_revised': 642, 'robbery': 195, 'aggravated_assault': 2676, 'property_crime': 15667, 'burglary': 2646, 'larceny': 11265, 'motor_vehicle_theft': 1756, 'arson': 66}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [128]:
SD_df = pd.DataFrame(SD['results'])
SD_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,46,SD,2017,873286,3753,27,None,575,264,2887,16588,2835,12285,1468,137
1,46,SD,2018,878698,3483,12,None,617,222,2632,15191,2502,11237,1452,78
2,46,SD,2019,884659,3530,17,None,642,195,2676,15667,2646,11265,1756,66

### TN

In [129]:
#TN

TN_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/TN/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [130]:
TN = requests.get(TN_url).json()
print(TN)

{'results': [{'state_id': 47, 'state_abbr': 'TN', 'year': 2017, 'population': 6708794, 'violent_crime': 43940, 'homicide': 538, 'rape_legacy': None, 'rape_revised': 3028, 'robbery': 7867, 'aggravated_assault': 32507, 'property_crime': 198028, 'burglary': 38819, 'larceny': 140636, 'motor_vehicle_theft': 18573, 'arson': 961}, {'state_id': 47, 'state_abbr': 'TN', 'year': 2018, 'population': 6771631, 'violent_crime': 42687, 'homicide': 508, 'rape_legacy': None, 'rape_revised': 3011, 'robbery': 7222, 'aggravated_assault': 31946, 'property_crime': 192897, 'burglary': 33538, 'larceny': 138710, 'motor_vehicle_theft': 20649, 'arson': 836}, {'state_id': 47, 'state_abbr': 'TN', 'year': 2019, 'population': 6829174, 'violent_crime': 40647, 'homicide': 498, 'rape_legacy': None, 'rape_revised': 2813, 'robbery': 6150, 'aggravated_assault': 31186, 'property_crime': 181153, 'burglary': 29869, 'larceny': 132104, 'motor_vehicle_theft': 19180, 'arson': 823}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [131]:
TN_df = pd.DataFrame(TN['results'])
TN_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,47,TN,2017,6708794,43940,538,None,3028,7867,32507,198028,38819,140636,18573,961
1,47,TN,2018,6771631,42687,508,None,3011,7222,31946,192897,33538,138710,20649,836
2,47,TN,2019,6829174,40647,498,None,2813,6150,31186,181153,29869,132104,19180,823

### TX

In [132]:
#TX

TX_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/TX/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [133]:
TX = requests.get(TX_url).json()
print(TX)

{'results': [{'state_id': 48, 'state_abbr': 'TX', 'year': 2017, 'population': 28322717, 'violent_crime': 123984, 'homicide': 1405, 'rape_legacy': None, 'rape_revised': 14536, 'robbery': 32120, 'aggravated_assault': 75923, 'property_crime': 723143, 'burglary': 133458, 'larceny': 521767, 'motor_vehicle_theft': 67918, 'arson': 3311}, {'state_id': 48, 'state_abbr': 'TX', 'year': 2018, 'population': 28628666, 'violent_crime': 118197, 'homicide': 1327, 'rape_legacy': None, 'rape_revised': 15098, 'robbery': 28339, 'aggravated_assault': 73433, 'property_crime': 681143, 'burglary': 117897, 'larceny': 493238, 'motor_vehicle_theft': 70008, 'arson': 2692}, {'state_id': 48, 'state_abbr': 'TX', 'year': 2019, 'population': 28995881, 'violent_crime': 121474, 'homicide': 1409, 'rape_legacy': None, 'rape_revised': 14824, 'robbery': 28988, 'aggravated_assault': 76253, 'property_crime': 693204, 'burglary': 113902, 'larceny': 501813, 'motor_vehicle_theft': 77489, 'arson': 2438}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [134]:
TX_df = pd.DataFrame(TX['results'])
TX_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,48,TX,2017,28322717,123984,1405,None,14536,32120,75923,723143,133458,521767,67918,3311
1,48,TX,2018,28628666,118197,1327,None,15098,28339,73433,681143,117897,493238,70008,2692
2,48,TX,2019,28995881,121474,1409,None,14824,28988,76253,693204,113902,501813,77489,2438

### UT

In [135]:
#UT

UT_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/UT/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [136]:
UT = requests.get(UT_url).json()
print(UT)

{'results': [{'state_id': 49, 'state_abbr': 'UT', 'year': 2017, 'population': 3103118, 'violent_crime': 7515, 'homicide': 74, 'rape_legacy': None, 'rape_revised': 1758, 'robbery': 1498, 'aggravated_assault': 4185, 'property_crime': 86201, 'burglary': 11780, 'larceny': 64955, 'motor_vehicle_theft': 9466, 'arson': 226}, {'state_id': 49, 'state_abbr': 'UT', 'year': 2018, 'population': 3153550, 'violent_crime': 7551, 'homicide': 63, 'rape_legacy': None, 'rape_revised': 1854, 'robbery': 1237, 'aggravated_assault': 4397, 'property_crime': 76294, 'burglary': 10079, 'larceny': 58406, 'motor_vehicle_theft': 7809, 'arson': 199}, {'state_id': 49, 'state_abbr': 'UT', 'year': 2019, 'population': 3205958, 'violent_crime': 7553, 'homicide': 72, 'rape_legacy': None, 'rape_revised': 1822, 'robbery': 1125, 'aggravated_assault': 4534, 'property_crime': 69546, 'burglary': 8871, 'larceny': 53937, 'motor_vehicle_theft': 6738, 'arson': 216}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [137]:
UT_df = pd.DataFrame(UT['results'])
UT_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,49,UT,2017,3103118,7515,74,None,1758,1498,4185,86201,11780,64955,9466,226
1,49,UT,2018,3153550,7551,63,None,1854,1237,4397,76294,10079,58406,7809,199
2,49,UT,2019,3205958,7553,72,None,1822,1125,4534,69546,8871,53937,6738,216

### VA

In [138]:
#VA

VA_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/VA/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [139]:
VA = requests.get(VA_url).json()
print(VA)

{'results': [{'state_id': 51, 'state_abbr': 'VA', 'year': 2017, 'population': 8465207, 'violent_crime': 17811, 'homicide': 470, 'rape_legacy': None, 'rape_revised': 3026, 'robbery': 4331, 'aggravated_assault': 9984, 'property_crime': 152515, 'burglary': 18524, 'larceny': 123812, 'motor_vehicle_theft': 10179, 'arson': 833}, {'state_id': 51, 'state_abbr': 'VA', 'year': 2018, 'population': 8501286, 'violent_crime': 17357, 'homicide': 417, 'rape_legacy': None, 'rape_revised': 3072, 'robbery': 3610, 'aggravated_assault': 10258, 'property_crime': 142931, 'burglary': 15659, 'larceny': 116496, 'motor_vehicle_theft': 10776, 'arson': 681}, {'state_id': 51, 'state_abbr': 'VA', 'year': 2019, 'population': 8535519, 'violent_crime': 17753, 'homicide': 426, 'rape_legacy': None, 'rape_revised': 2816, 'robbery': 3524, 'aggravated_assault': 10987, 'property_crime': 140213, 'burglary': 13900, 'larceny': 116044, 'motor_vehicle_theft': 10269, 'arson': 665}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [140]:
VA_df = pd.DataFrame(VA['results'])
VA_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,51,VA,2017,8465207,17811,470,None,3026,4331,9984,152515,18524,123812,10179,833
1,51,VA,2018,8501286,17357,417,None,3072,3610,10258,142931,15659,116496,10776,681
2,51,VA,2019,8535519,17753,426,None,2816,3524,10987,140213,13900,116044,10269,665

### VT

In [141]:
#VT

VT_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/VT/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [142]:
VT = requests.get(VT_url).json()
print(VT)

{'results': [{'state_id': 52, 'state_abbr': 'VT', 'year': 2017, 'population': 624525, 'violent_crime': 1082, 'homicide': 17, 'rape_legacy': None, 'rape_revised': 254, 'robbery': 100, 'aggravated_assault': 711, 'property_crime': 9339, 'burglary': 1945, 'larceny': 7169, 'motor_vehicle_theft': 225, 'arson': 39}, {'state_id': 52, 'state_abbr': 'VT', 'year': 2018, 'population': 624358, 'violent_crime': 1155, 'homicide': 11, 'rape_legacy': None, 'rape_revised': 326, 'robbery': 73, 'aggravated_assault': 745, 'property_crime': 8211, 'burglary': 1496, 'larceny': 6451, 'motor_vehicle_theft': 264, 'arson': 45}, {'state_id': 52, 'state_abbr': 'VT', 'year': 2019, 'population': 623989, 'violent_crime': 1262, 'homicide': 11, 'rape_legacy': None, 'rape_revised': 278, 'robbery': 71, 'aggravated_assault': 902, 'property_crime': 8888, 'burglary': 1275, 'larceny': 7315, 'motor_vehicle_theft': 298, 'arson': 49}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [143]:
VT_df = pd.DataFrame(VT['results'])
VT_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,52,VT,2017,624525,1082,17,None,254,100,711,9339,1945,7169,225,39
1,52,VT,2018,624358,1155,11,None,326,73,745,8211,1496,6451,264,45
2,52,VT,2019,623989,1262,11,None,278,71,902,8888,1275,7315,298,49

### WA

In [144]:
#WA

WA_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/WA/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [145]:
WA = requests.get(WA_url).json()
print(WA)

{'results': [{'state_id': 53, 'state_abbr': 'WA', 'year': 2017, 'population': 7425432, 'violent_crime': 22483, 'homicide': 226, 'rape_legacy': None, 'rape_revised': 3300, 'robbery': 5386, 'aggravated_assault': 13571, 'property_crime': 235206, 'burglary': 43687, 'larceny': 162154, 'motor_vehicle_theft': 29365, 'arson': 1120}, {'state_id': 53, 'state_abbr': 'WA', 'year': 2018, 'population': 7523869, 'violent_crime': 23719, 'homicide': 236, 'rape_legacy': None, 'rape_revised': 3610, 'robbery': 5557, 'aggravated_assault': 14316, 'property_crime': 223256, 'burglary': 40434, 'larceny': 154941, 'motor_vehicle_theft': 27881, 'arson': 1107}, {'state_id': 53, 'state_abbr': 'WA', 'year': 2019, 'population': 7614893, 'violent_crime': 22377, 'homicide': 198, 'rape_legacy': None, 'rape_revised': 3332, 'robbery': 5147, 'aggravated_assault': 13700, 'property_crime': 204224, 'burglary': 34540, 'larceny': 145282, 'motor_vehicle_theft': 24402, 'arson': 958}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [146]:
WA_df = pd.DataFrame(WA['results'])
WA_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,53,WA,2017,7425432,22483,226,None,3300,5386,13571,235206,43687,162154,29365,1120
1,53,WA,2018,7523869,23719,236,None,3610,5557,14316,223256,40434,154941,27881,1107
2,53,WA,2019,7614893,22377,198,None,3332,5147,13700,204224,34540,145282,24402,958

### WI

In [147]:
#WI

WI_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/WI/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [148]:
WI = requests.get(WI_url).json()
print(WI)

{'results': [{'state_id': 54, 'state_abbr': 'WI', 'year': 2017, 'population': 5792051, 'violent_crime': 18638, 'homicide': 192, 'rape_legacy': None, 'rape_revised': 2177, 'robbery': 4370, 'aggravated_assault': 11899, 'property_crime': 104908, 'burglary': 17570, 'larceny': 77868, 'motor_vehicle_theft': 9470, 'arson': 587}, {'state_id': 54, 'state_abbr': 'WI', 'year': 2018, 'population': 5807406, 'violent_crime': 17365, 'homicide': 175, 'rape_legacy': None, 'rape_revised': 2333, 'robbery': 3493, 'aggravated_assault': 11364, 'property_crime': 91238, 'burglary': 14180, 'larceny': 68380, 'motor_vehicle_theft': 8678, 'arson': 497}, {'state_id': 54, 'state_abbr': 'WI', 'year': 2019, 'population': 5822434, 'violent_crime': 17070, 'homicide': 175, 'rape_legacy': None, 'rape_revised': 2261, 'robbery': 2991, 'aggravated_assault': 11643, 'property_crime': 85672, 'burglary': 12667, 'larceny': 65620, 'motor_vehicle_theft': 7385, 'arson': 394}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [149]:
WI_df = pd.DataFrame(WI['results'])
WI_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,54,WI,2017,5792051,18638,192,None,2177,4370,11899,104908,17570,77868,9470,587
1,54,WI,2018,5807406,17365,175,None,2333,3493,11364,91238,14180,68380,8678,497
2,54,WI,2019,5822434,17070,175,None,2261,2991,11643,85672,12667,65620,7385,394

### WV

In [150]:
#WV

WV_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/WV/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [151]:
WV = requests.get(WV_url).json()
print(WV)

{'results': [{'state_id': 55, 'state_abbr': 'WV', 'year': 2017, 'population': 1817048, 'violent_crime': 6564, 'homicide': 98, 'rape_legacy': None, 'rape_revised': 793, 'robbery': 673, 'aggravated_assault': 5000, 'property_crime': 32560, 'burglary': 7557, 'larceny': 21917, 'motor_vehicle_theft': 3086, 'arson': 223}, {'state_id': 55, 'state_abbr': 'WV', 'year': 2018, 'population': 1804291, 'violent_crime': 5411, 'homicide': 76, 'rape_legacy': None, 'rape_revised': 716, 'robbery': 333, 'aggravated_assault': 4286, 'property_crime': 27888, 'burglary': 5916, 'larceny': 19783, 'motor_vehicle_theft': 2189, 'arson': 196}, {'state_id': 55, 'state_abbr': 'WV', 'year': 2019, 'population': 1792147, 'violent_crime': 5674, 'homicide': 78, 'rape_legacy': None, 'rape_revised': 754, 'robbery': 378, 'aggravated_assault': 4464, 'property_crime': 28376, 'burglary': 5891, 'larceny': 20066, 'motor_vehicle_theft': 2419, 'arson': 156}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [152]:
WV_df = pd.DataFrame(WV['results'])
WV_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,55,WV,2017,1817048,6564,98,None,793,673,5000,32560,7557,21917,3086,223
1,55,WV,2018,1804291,5411,76,None,716,333,4286,27888,5916,19783,2189,196
2,55,WV,2019,1792147,5674,78,None,754,378,4464,28376,5891,20066,2419,156

### WY

In [153]:
#WY

WY_url = "https://api.usa.gov/crime/fbi/sapi/api/estimates/states/WY/2017/2020?API_KEY={ENTER YOUR API KEY}"

In [154]:
WY = requests.get(WY_url).json()
print(WY)

{'results': [{'state_id': 56, 'state_abbr': 'WY', 'year': 2017, 'population': 578934, 'violent_crime': 1358, 'homicide': 14, 'rape_legacy': None, 'rape_revised': 253, 'robbery': 98, 'aggravated_assault': 993, 'property_crime': 10528, 'burglary': 1556, 'larceny': 8211, 'motor_vehicle_theft': 761, 'arson': 48}, {'state_id': 56, 'state_abbr': 'WY', 'year': 2018, 'population': 577601, 'violent_crime': 1235, 'homicide': 14, 'rape_legacy': None, 'rape_revised': 261, 'robbery': 75, 'aggravated_assault': 885, 'property_crime': 10308, 'burglary': 1551, 'larceny': 7974, 'motor_vehicle_theft': 783, 'arson': 37}, {'state_id': 56, 'state_abbr': 'WY', 'year': 2019, 'population': 578759, 'violent_crime': 1258, 'homicide': 13, 'rape_legacy': None, 'rape_revised': 324, 'robbery': 67, 'aggravated_assault': 854, 'property_crime': 9093, 'burglary': 1396, 'larceny': 6984, 'motor_vehicle_theft': 713, 'arson': 46}], 'pagination': {'count': 3, 'page': 0, 'pages': 1, 'per_page': 0}}

In [155]:
WY_df = pd.DataFrame(WY['results'])
WY_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,56,WY,2017,578934,1358,14,None,253,98,993,10528,1556,8211,761,48
1,56,WY,2018,577601,1235,14,None,261,75,885,10308,1551,7974,783,37
2,56,WY,2019,578759,1258,13,None,324,67,854,9093,1396,6984,713,46

### FRAMES

In [156]:
frames = [
AL_df, 
AK_df, 
AZ_df,
AR_df,
CA_df,
CO_df,
CT_df,
DE_df,
DC_df,
FL_df,
GA_df,
HI_df,
IA_df,
ID_df,
IL_df,
IN_df,
KS_df,
KY_df,
LA_df,
MA_df,
MD_df,
ME_df,
MI_df,
MN_df,
MO_df,
MS_df,
MT_df,
NC_df,
ND_df,
NE_df,
NH_df,
NJ_df,
NM_df,
NV_df,
NY_df,
OH_df,
OK_df,
OR_df,
PA_df,
RI_df,
SC_df,
SD_df,
TN_df,
TX_df,
UT_df,
VA_df,
VT_df,
WA_df,
WI_df,
WV_df,
WY_df
]

In [157]:
final_df = pd.concat(frames)
final_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,2,AL,2017,4875120,25469,419,None,2001,4233,18816,143774,31270,99707,12797,703
1,2,AL,2018,4887681,25567,383,None,2032,4047,19105,138702,29101,96328,13273,782
2,2,AL,2019,4903185,25046,358,None,2068,3941,18679,131133,26079,92477,12577,2
0,1,AK,2017,739786,6338,62,None,1074,952,4250,26203,4167,17782,4254,139
1,1,AK,2018,735139,6555,47,None,1212,896,4400,24345,3985,16364,3996,127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,55,WV,2018,1804291,5411,76,None,716,333,4286,27888,5916,19783,2189,196
2,55,WV,2019,1792147,5674,78,None,754,378,4464,28376,5891,20066,2419,156
0,56,WY,2017,578934,1358,14,None,253,98,993,10528,1556,8211,761,48
1,56,WY,2018,577601,1235,14,None,261,75,885,10308,1551,7974,783,37
2,56,WY,2019,578759,1258,13,None,324,67,854,9093,1396,6984,713,46

## CSV

In [158]:
crime_path ="estimated_crimes.csv"

crime_read = pd.read_csv(crime_path)

crime_df = pd.DataFrame(crime_read)

crime_df

,year,state_abbr,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft
0,1995,ALL,262803276,1798792,21606,97470,NaN,580509,1099207,12063935,2593784,7997710,1472441
1,1996,ALL,265228572,1688540,19645,96252,NaN,535594,1037049,11805323,2506400,7904685,1394238
2,1997,ALL,267783607,1636099,18211,96153,NaN,498534,1023201,11558975,2461026,7743760,1354189
3,1998,ALL,270248003,1533887,16974,93144,NaN,447186,976583,10951827,2332735,7376311,1242781
4,1999,ALL,272690813,1426044,15522,89411,NaN,409371,911740,10208334,2100739,6955520,1152075
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1139,2012,WY,576626,1161,14,154,NaN,61,932,13222,2125,10513,584
1140,2013,WY,583223,1212,17,144,NaN,74,917,12809,1956,10275,578
1141,2014,WY,584304,1142,16,127,204.0,53,899,11477,1689,9185,603
1142,2015,WY,586555,1300,16,171,124.0,59,1054,11151,1762,8797,592
1143,2016,WY,585501,1430,20,205,150.0,59,1146,11460,1771,8889,800

## Frames 2

In [159]:
frames_crime = [final_df, crime_df]

In [160]:
final_crimes_df = pd.concat(frames_crime)

In [161]:
final_crimes_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,2.0,AL,2017,4875120,25469,419,None,2001.0,4233,18816,143774,31270,99707,12797,703.0
1,2.0,AL,2018,4887681,25567,383,None,2032.0,4047,19105,138702,29101,96328,13273,782.0
2,2.0,AL,2019,4903185,25046,358,None,2068.0,3941,18679,131133,26079,92477,12577,2.0
0,1.0,AK,2017,739786,6338,62,None,1074.0,952,4250,26203,4167,17782,4254,139.0
1,1.0,AK,2018,735139,6555,47,None,1212.0,896,4400,24345,3985,16364,3996,127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1139,NaN,WY,2012,576626,1161,14,154,NaN,61,932,13222,2125,10513,584,NaN
1140,NaN,WY,2013,583223,1212,17,144,NaN,74,917,12809,1956,10275,578,NaN
1141,NaN,WY,2014,584304,1142,16,127,204.0,53,899,11477,1689,9185,603,NaN
1142,NaN,WY,2015,586555,1300,16,171,124.0,59,1054,11151,1762,8797,592,NaN
1143,NaN,WY,2016,585501,1430,20,205,150.0,59,1146,11460,1771,8889,800,NaN

In [162]:
del final_crimes_df["state_id"]

In [163]:
del final_crimes_df["arson"]

In [164]:
final_crimes_df.index.name = 'blank'
final_crimes_df

final_crimes_df= final_crimes_df.reset_index()
final_crimes_df

,blank,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft
0,0,AL,2017,4875120,25469,419,None,2001.0,4233,18816,143774,31270,99707,12797
1,1,AL,2018,4887681,25567,383,None,2032.0,4047,19105,138702,29101,96328,13273
2,2,AL,2019,4903185,25046,358,None,2068.0,3941,18679,131133,26079,92477,12577
3,0,AK,2017,739786,6338,62,None,1074.0,952,4250,26203,4167,17782,4254
4,1,AK,2018,735139,6555,47,None,1212.0,896,4400,24345,3985,16364,3996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,1139,WY,2012,576626,1161,14,154,NaN,61,932,13222,2125,10513,584
1293,1140,WY,2013,583223,1212,17,144,NaN,74,917,12809,1956,10275,578
1294,1141,WY,2014,584304,1142,16,127,204.0,53,899,11477,1689,9185,603
1295,1142,WY,2015,586555,1300,16,171,124.0,59,1054,11151,1762,8797,592
1296,1143,WY,2016,585501,1430,20,205,150.0,59,1146,11460,1771,8889,800

In [165]:
del final_crimes_df["blank"]

In [166]:
final_crimes_df

,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft
0,AL,2017,4875120,25469,419,None,2001.0,4233,18816,143774,31270,99707,12797
1,AL,2018,4887681,25567,383,None,2032.0,4047,19105,138702,29101,96328,13273
2,AL,2019,4903185,25046,358,None,2068.0,3941,18679,131133,26079,92477,12577
3,AK,2017,739786,6338,62,None,1074.0,952,4250,26203,4167,17782,4254
4,AK,2018,735139,6555,47,None,1212.0,896,4400,24345,3985,16364,3996
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,WY,2012,576626,1161,14,154,NaN,61,932,13222,2125,10513,584
1293,WY,2013,583223,1212,17,144,NaN,74,917,12809,1956,10275,578
1294,WY,2014,584304,1142,16,127,204.0,53,899,11477,1689,9185,603
1295,WY,2015,586555,1300,16,171,124.0,59,1054,11151,1762,8797,592
1296,WY,2016,585501,1430,20,205,150.0,59,1146,11460,1771,8889,800

In [167]:
#final_crimes_df.to_csv("final_crimes.csv")

In [168]:
#final_crimes_df.dtypes

## Connect to local Database

In [169]:
rds_connection_string = "kanika:postgres@localhost:5432/crimes_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for local tables

In [170]:
engine.table_names()

['crimes_table']

### Use pandas to load merged DataFrame into database

In [171]:
final_crimes_df.to_sql("crimes_table", con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [172]:
pd.read_sql_query('select * from crimes_table', con=engine).head()

,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft
0,AL,2017,4875120,25469,419,None,2001.0,4233,18816,143774,31270,99707,12797
1,AL,2018,4887681,25567,383,None,2032.0,4047,19105,138702,29101,96328,13273
2,AL,2019,4903185,25046,358,None,2068.0,3941,18679,131133,26079,92477,12577
3,AK,2017,739786,6338,62,None,1074.0,952,4250,26203,4167,17782,4254
4,AK,2018,735139,6555,47,None,1212.0,896,4400,24345,3985,16364,3996